body {
  text-align: center;
  margin-top: 10px;
  padding-top: 36px;
  color: rgb(201, 76, 76);
  }

h1
{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
 }

 p {
  text-align: left;
  position: center;
  letter-spacing: 1px;
}
.header {
    font-size: 2rem;
    color: #92278F;
    }

.mainText {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  color: rgb(26, 0, 0);
}

 .dataCharts {
  width: 50%;
 }
.container {
  display: 50%;
  flex-direction: row;
  margin-top: 20px;
  }
.chart {
  width: 600px;
  display: inline-block;
  margin: 0 auto 10px auto;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  position: center;
  color: rgb(26, 0, 0);
}

